p {
    font-size: 1.25em;
}

li {
    font-size: 1.25em;
    font-style: italic
}

h2 {
    font-style: italic;
    text-decoration: underline;
}

h4 {
    font-size: 1em !important;
}

h5 {
    font-variant: small-caps
}

hr {  
  border: 6px solid grey !important;
  border-radius: 5px;
}

footer {
    background-color: grey;
    color: white;
    text-align: center;
}

adj {
    font-variant: normal;
    color: red;
}

noun {
    font-variant: normal;
    color: blue;    
}

pnoun {
    font-variant: normal;
    color:brown;
}
 
other {
    font-variant: normal;
    color: purple;
}

ing {
    font-variant: normal;
    color: green;
}

input num {
    font-variant: normal;
    color: yellow;
}

td {
    color: white;
}

.container {
    column-count: 1;
}

.card1 {
  background-color: white;
  border: 2px solid rgb(79, 185, 227);
  padding: 10px;
  margin: 0 0 1em 0;
}

.card2 {
  background-color: rgb(207, 232, 220);
  border: 2px solid rgb(79, 185, 227);
  padding: 10px;
  margin: 0 0 1em 0;
}

.card3 {
  background-color: grey;
  border: 2px solid rgb(79, 185, 227);
  padding: 10px;
  margin: 0 0 1em 0;
}